<!DOCTYPE html>
<html lang="{{ site.active_lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | truncate: 160 }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>

<header>
<a class="site-title" href="{{ site.baseurl }}/">&gt; tomaspica.com/blog</a>
</header>

<div class="separator">================================================================================</div>

<nav style="margin: 4px 0;">
<a href="https://tomaspica.com">← tomaspica.com</a>
&nbsp;&nbsp;
{% assign base_url = page.url %}
{% for l in site.languages %}
  {% unless l == site.default_lang %}
    {% assign lp = "/" | append: l | append: "/" %}
    {% if base_url contains lp %}
      {% assign base_url = base_url | remove_first: lp | prepend: "/" %}
    {% endif %}
  {% endunless %}
{% endfor %}
[lang:
{% for lang in site.languages %}{% if lang == site.active_lang %}<span class="lang-switcher"><span class="current">{{ lang }}</span></span>{% else %}<span class="lang-switcher">{% if lang == site.default_lang %}<a href="{{ site.url }}{{ site.baseurl }}{{ base_url }}">{{ lang }}</a>{% else %}<a href="{{ site.url }}{{ site.baseurl }}/{{ lang }}{{ base_url }}">{{ lang }}</a>{% endif %}</span>{% endif %}{% unless forloop.last %} {% endunless %}{% endfor %}]
</nav>

<div class="separator">================================================================================</div>

{{ content }}

<div class="separator">================================================================================</div>

<footer>[INFO] tomaspica.com/blog</footer>

</body>
</html>
